.leading-stock-price {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 2em;
    font-weight: bold;
}

.stock-variation {
    font-size: smaller;
    color: #009926;
}

.leading-stock-price > .stock-variation {
    padding-left: 10px;
}

.stock-variation.negative-value {
    color: red;
}

.leading-owned-stock {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 1.0em;
}

label.item.has-error {
    border-bottom: 2px solid red;
}

.form-errors {
    margin: 5px 0
}

.form-error {
    padding: 2px 0 2px 16px;
    color: red;
}

.item-divider i.icon {
  color: #444;
  right: 4px;
}

.header-title {
  font-size:  larger
}

.item.row + .item.row {
  padding: 5px;
  margin: -1px;
}