<button rv-if="options.backButton" class="button back-button buttons button-clear header-item">
  <i class="icon ion-ios-arrow-back"></i>
  <span class="default-title hide">Back</span><span class="previous-title">Voltar</span>
</button>

<div style="transform: translate3d(0px, 0px, 0px); left: 72px; right: 72px;" class="title title-center header-item">
  {{options.title}}
</div>

<div class="buttons buttons-right">
  <span class="right-buttons">
    <button rv-each-button="options.buttons" class="button button-clear" rv-class="button.icon | ifConcatClass 'button-icon icon' | concatClass button.className"  rv-data-method="button.method">
        {{button.title}}
    </button>
  </span>
</div>


