<ul id="symbol-list" class="list">
  <li class="item item-icon-right row" rv-each-model="collection.models" rv-on-click="onItemClick | preventDefault">
    <div class="col">{{model:name}}</div>
    <div class="col stock-price">
        {{model:latestPrice | formatCurrency}}
    </div>
    <div class="col stock-variation" rv-class-negative-value="model:latestVariation | lt 0">
        <i rv-class="model:latestVariation | lt 0 | ifThen 'ion-arrow-down-a' 'ion-arrow-up-a'"></i> {{model:latestVariation | absolute | formatFloat | suffix '%'}}
    </div>
    <i class="icon ion-chevron-right icon-accessory"></i>
  </li>
</ul>