<div class="list">
    <label class="item item-input">
        <span class="input-label">Ação</span>
        <input type="text" name="symbol" rv-value="model:symbol" rv-disabled="state.hasSymbol" event-name="blur">
    </label>
    <label class="item item-input">
        <span class="input-label">Preço</span>
        <input type="number" step="any" name="price" rv-value="model:price | number">
    </label>
    <label class="item item-input">
        <span class="input-label">Quantidade</span>
        <input type="number" step="any" name="quantity" rv-value="model:quantity | number">
    </label>
    <label class="item item-input">
        <span class="input-label">Data</span>
        <input type="date" name="date" rv-value="model:date">
    </label>
</div>

<div class="list">
    <div class="item item-divider">
        Preço Médio
    </div>
    <div class="item row">
        <div class="col">
            Atual: <span class="current-mean-price" rv-text="state.currentMeanPrice | formatCurrency">--</span>
        </div>
        <div class="col">
            Após: <span class="mean-price" rv-text="state.meanPrice | formatCurrency">--</span>
        </div>
    </div>
</div>

<button id="remove-buy" class="button button-block button-assertive" rv-show="state.isNew | negate">
    Remover
</button>