<div class="leading-stock-price js-stock-price">{{model:latestPrice | formatCurrency}}
    <span class="stock-variation" rv-class-negative-value="model:latestVariation | lt 0">
       <i class="icon" rv-class="model:latestVariation | lt 0 | ifThen 'ion-arrow-down-a' 'ion-arrow-up-a'"></i> {{model:latestVariation | absolute | formatFloat | suffix '%'}}
    </span>
</div>

<div class="leading-owned-stock">
    <span rv-if="state.stockValue">
      {{state.stockQuantity}} ações = {{state.stockValue | formatCurrency}}
      <span class="stock-variation" rv-class-negative-value="state.valueVariation | lt 0">{{state.valueVariation | percentage}} ({{state.valueDifference | formatCurrency}})</span>
    </span>
    <span rv-if="state.stockValue | negate">
      {{state.stockQuantity}} ações
    </span>
</div>

<div class="card">
    <div class="item row item-text-wrap">
        <h2>Correções</h2>
    </div>
    <div class="item row">
        <div class="col">
            <label for="inflation-correction">
                <input type="checkbox" id="inflation-correction"> Inflação
            </label>
        </div>
        <div class="col">
            <label for="ir-correction">
                <input type="checkbox" id="ir-correction"> Imposto de  Renda
            </label>
        </div>
    </div>
</div>

<div class="list card">
    <div class="item item-divider">
        <span class="header-title">Operações de Compra</span>
        <a href="#" class="item-icon-right js-add-buy">
           <i class="icon ion-plus"></i>
        </a>        
    </div>
    <div>
      <div class="item item-icon-right" rv-each-buy="model.buys.models" rv-on-click="onBuyClick">
        <h3>{{buy:date | toLocale}}: {{buy:quantity}} ações a {{buy:price | formatCurrency}}</h3>
        <p>Total: {{buy:totalPrice | formatCurrency}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>

    <div class="item item-divider">
        <h3>Preço Médio: {{state.meanPrice | formatCurrency}}</h3>
        <h3>Custo Total: {{state.buyValue | formatCurrency}}</h3>
    </div>
</div>

<button id="remove-symbol" class="button button-block button-assertive">
    Remover
</button>

